/* ._features {} */

._features .ctn {
    display: grid;
    gap: var(--gap);

}

@media (min-width: 1024px) {
    ._features .ctn {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

._features p {
    margin-top: var(--gutter);
}

._features figure {
    margin-bottom: calc(1.5 * var(--gutter));
    overflow: hidden;
}

._features figure.picture {
    aspect-ratio: 3/4;
    width: 100%;
}

._features figure.picture img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

._features figure.icon {
    aspect-ratio: 1/1;
    width: 4rem;
}

._features figure.icon img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    object-position: left;
}
